h3 = t('new_model', model_name: Admin::CarouselSlide.model_name.human)
hr
= simple_form_for [:admin, @admin_carousel_module, @admin_carousel_slide], multipart: true, url: url_for(action: 'create', controller: 'admin/carousel_slides'), method: 'post' do |f|
  == render 'form', f: f
