.pb-10.pt-5
  '&nbsp;
  .pull-right
    .btn-group
      = link_to t('admin/page_link_module.edit_links'),
        admin_page_link_module_page_links_path(modulable),
        class: 'btn btn-sm btn-secondary'
      = link_to t('edit'),
        edit_admin_page_link_module_path(modulable),
        class: 'btn btn-sm btn-secondary'

      = link_to t('delete'), 
        admin_page_col_page_col_module_path( modulable.page_col, modulable.page_col_module),
        data: { confirm: t('are_you_sure') },
        method: :delete,
        class: 'btn btn-danger btn-sm'

= render 'page_link_modules/show', modulable: modulable


.module-editor-header
  .pull-right
    = link_to t('page_link_module.add_page_link'),
      new_admin_page_link_module_page_link_path(modulable),
      class: 'btn btn-primary btn-sm'



