= simple_form_for [ @admin_system_setup] do |f|
  = f.error_notification

  /= f.input :maintenance, as: :boolean, label: 'Sitet er under opdatering', hint: 'Når dette er valgt bliver der vist en anden side end forsiden'

  = f.input :landing_page_id,
    collection: Page.where(locale: I18n.locale),
    include_blank: false

  = f.input :subscription_page_id,
    collection: Page.where(locale: I18n.locale),
    include_blank: false

  = f.input :post_page_id,
    collection: Page.where(locale: I18n.locale),
    include_blank: false

  = f.input :welcome_page_id,
    collection: Page.where(locale: I18n.locale),
    include_blank: false

 

  = f.submit t('save'), class: 'btn btn-primary'
