p#notice = notice

p
  strong Title:
  = @page.title
/ p
/   strong Menu title:
/   = @page.menu_title
/ p
/   strong Position:
/   = @page.position
/ p
/   strong Active:
/   = @page.active
/ p
/   strong Locale:
/   = @page.locale
/ p
/   strong User:
/   = @page.user

