.sidebar-container
  .nav
    display: -ms-flexbox
    display: block
    padding-left: 0
    margin-bottom: 0
    list-style: none

.has-error
  .control-label
    color: #F00
  span.help-block
    color: #F00

.edit-page-links
  text-align: right

.bordered
  padding: 1.5rem
  margin-right: 0
  margin-bottom: 0
  margin-left: 0
  border-width: .2rem

.section-slot
  min-height: 40px
  background-color: #e5e9ec
  box-shadow: 1px 1px 5px rgba(126, 142, 159, 0.1)
  margin-bottom: 10px
  border-radius: 0
  border: none

.float-right-button-container
  float: right
  .btn
    margin-left: 3px

.fr-box.fr-basic .fr-wrapper
  height: 300px
