h1 CarouselModule
- if @admin_namespace
  = render 'carousel_modules/links', carousel_module: carousel_module, page: page
/= render "text_modules/layouts/#{text_module.layout}", text_module: text_module, page: page