= f.input :title
= f.input :body, :input_html => { rows: 10}

= f.hidden_field :blog_module_id, value: @blog_module.id
/= f.association :user

.form-actions
  = f.submit t('save'), class: 'btn btn-primary'