- if @admin_namespace
  = render 'blog/links', blog_module: blog_module, page: page



= render 'blog/layouts/' + blog_module.layout, blog_module: blog_module
/- case blog_module.layout
/- when 'the_beatles'
/ p#notice = notice
/
/ p
/   strong Name:
/   = @admin_blog_module.name
/ p
/   strong Body:
/   = @admin_blog_module.body
/ p
/   strong Layout:
/   = @admin_blog_module.layout
/
/ = link_to 'Edit', edit_admin_blog_module_path(@admin_blog_module)
/ '  |
/ = link_to 'Back', admin_blog_modules_path
