.blog-post
  a
    color: #777
  a:hover
    text-decoration: none
    color: #000
  .blog-post-content
    background-color: #FFF
    border-style: solid
    border-color: rgba(0,0,0,0.1)
    border-width: 1px 1px 2px 1px
    border-bottom-color: rgba(0,0,0,0.12)
    margin: 0px 0px 10px 0px
    .content
      padding: 10px
    .content:hover
      background-color: #F0F0F0

    .featured
      color: #AAA
      font-size: 0.75em
      text-align: right
      display: inline-block
      float: right

    .signature
      font-style: italic
      margin-bottom: 10px

    .category-name
      color: #F00
      font-weight: bold

    .for-subscribers
      color: #F97432
      font-weight: bold
      font-size: 0.75em

  .no-padding
    padding: 0
  .video-symbol
    position: absolute
    top: 0px
    left: 0px
    background-color: rgba(255,255,255,0.5)
    padding: 5px 10px 5px 10px

  .featured-post
    background-color: #FFF
    border-style: solid
    border-color: rgba(0,0,0,0.1)
    border-width: 0px 0px 1px 0px
    border-bottom-color: rgba(0,0,0,0.13)
    margin: 0px 0px 0px 0px
    .content
      padding: 5px 0px 5px 0px
      .time-ago
        color: #AAA
        font-size: 0.75em

  .featured-post:hover
    background-color: #F0F0F0
.blog-post-content
  .video
    background-color: rgba(127,127,127,0.1)
    width: 100px
    margin: -10px 0 0 -10px
    padding: 0 5px 0 5px

.admin_blog_post_video_url
  textarea
    height: 120px

.admin_blog_post_subtitle
  textarea
    height: 40px

.admin_blog_post_teaser
  textarea
    height: 70px

