= f.input :title
= f.input :body, :input_html => { rows: 10}

= f.hidden_field :blog_id, value: @admin_blog.id
/= f.association :user

.form-actions
  .pull-right
    = f.submit t('save'), class: 'btn btn-primary'


/ TODO
/ [x] comments
/ Upload billed
/ sub_title
/ show_to på article nivue
/ category
/ sort on category
/ create category

/ multiple images