= f.input :title
= f.input :subtitle
= f.input :teaser
= f.input :admin_blog_post_category_id, collection: Admin::BlogPostCategory.where(locale: I18n.locale)
= f.input :start_date
= f.input :body, :input_html => { rows: 15}

/= image_tag @user.avatar.url(:square)
= f.label :image

= f.file_field :image

= f.hidden_field :blog_id, value: @admin_blog.id
/= f.association :user

.form-actions
  .pull-right
    = f.submit t('save'), class: 'btn btn-primary'


/ TODO
/ [x] comments
/ Upload billed
/ sub_title
/ show_to på article nivue
/ category
/ sort on category
/ create category

/ multiple images