doctype html
html
  head
    title
      'Samso
    css:
      body {
        background: rgb(204,204,204);
      }
      page[size="A4"] {
        background: white;
        width: 21cm;
        min-height: 29.7cm;
        display: block;
        margin: 0 auto;
        margin-bottom: 0.5cm;
        border: 1.25cm solid #FFF;
      }
      img {
        width: 50%;
        height: auto;
      }
      .full-size {width: 100%}
      @media print {
        body, page[size="A4"] {
          margin: 0;
          box-shadow: 0;
        }
      }
      .row {
        width: 100%;
      }
      .block {
        height: 100px;
        width: 390px;
        display: inline-block;
        margin: 1px;
        vertical-align: top;
      }​
      @media all {
        .page-break { display: none; }
      }

      @media print {
        .page-break { display: block; page-break-before: auto; }
      }
      .mt-20 {margin-top: 20px;}
      .p-4 {padding-right: 4px;}

  body
    page size="A4"
      = yield

  javascript:
    window.print();